@import url(../fonts/GothamPro/stylesheet.css);
@import url(radiobuttons.css);

h1, h2, h3, h4, h5{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

body{
	overflow-x: hidden;
}

a:hover,
a:focus,
a:active{
	text-decoration: none;
}

input:active, input:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}

.no-right-padding{
	padding-right: 0px;
}

.no-left-padding{
	padding-left: 0px;
}

.wrap{
	max-width: 1060px;
	margin: 0 auto;
}

.topBar{
	width: 100%;
	background-color: #00617e;
	height: 30px;
}

.systemMenu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.systemMenu > .item{
	font-size: 20px;
	color: white;
}

.systemMenu > .item > a{
	color: inherit;
	text-decoration: none;	
}

.systemMenu > .item > a > i{
	padding: 0 25px;
	border-right: 1px white solid;
}

.systemMenu > .item:last-child > a > i,
.systemMenu > .item:nth-child(3) > a > i{
	border-right-width: 0px;
}

.systemMenu > .item > a:hover,
.systemMenu > .item > a:focus{
	color: inherit;
	text-decoration: none;
}

.systemMenu .searchInput{
	position: relative;
	color: #40828c;
	overflow: hidden;
}

.systemMenu .searchInput > i{
	position: absolute;
	top: 3px;
	left: 19px;
}

.systemMenu .searchInput > input{
	display: block;
	font-family: Arial, sans-serif;
	font-size: 15px;
	letter-spacing: -0.01em;
	height: 30px;
	padding-bottom: 1px;
	padding-left: 47px;
	border-width: 0;
	background-color: #ccdfe5;
}

.systemMenu .searchInput > input::-webkit-input-placeholder{
	color: #40828c;
	opacity:1;
}
.systemMenu .searchInput > input::-moz-placeholder{
	color: #40828c;
	opacity:1;
}
.systemMenu .searchInput > input:-moz-placeholder{
	color: #40828c;
	opacity:1;
}
.systemMenu .searchInput > input:-ms-input-placeholder{
	color: #40828c;
	opacity:1;
}

.mainBar > .wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	background-color: white;
	padding: 19px 0;
}

.mainBar > .wrap > .navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.navigation{
	padding-right: 0px !important;
}

.navigation > a{
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding-bottom: 5px;
}

.navigation > a:hover,
.navigation > a:focus{
	color: #ff6900;
	text-decoration: none;
}

.navigation > .curent{
	color: #ff6900;
	position: relative;
	background-image: url(../img/underline.png);
	background-repeat: repeat-x;
	background-position: 0% 100%;
}

.navigation > .curent::before{
	width: 50px;
	height: 7px;
	background-image: url(../img/underline.png);
}

.logoWrap{
	padding-left: 0px !important;
}

.logoWrap > .phone,
.logoWrap > .phone:hover,
.logoWrap > .phone:focus,
.logoWrap > .phone:active{
	display: block;
	font-family: Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-top: 7px;
	color: black;
}

.breadcrumbs{
	background-color: #ff6900;
	color: white;
}

.bcWrap{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 5px 0;
}

.bcWrap > .item{
	color: white;
}

.bcWrap > .item::after{
	content: '|';
	padding-left: 8px;
	padding-right: 8px;
}

.bcWrap > .item:last-child::after{
	content: '';
}

.bcWrap > .item:first-child{
	padding-left: 0px;
}

.bcWrap > .item:last-child{
	padding-right: 0px;
}

.bcWrap > .item > a{
	font-family: 'Gotham Pro';
	font-size: 13px;
	color: inherit;
}

.pageTitle{
	background-color: white;
}

.pageTitle h1{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: bold;
	font-size: 44px;
}

.ptWrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 39px 0;
}

#filterShow{
	position: relative;
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: bold;
	color: #00617e;
	cursor: pointer;
}

#filterShow i{
	position: absolute;
	top: 2px;
	right: -15px;
}

.filter{
	background-color: #fcfcfc;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    inset 0px 0px 15px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         inset 0px 0px 15px 0px rgba(50, 50, 50, 0.35);
}

.filterWrap{
	padding: 50px 0;
}

.filters .inputs{
	margin-bottom: 25px;
}

.filters .col-lg-3 > .filterItem:first-child{
	padding-top: 0px;
}

.filterItem{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 30px;
}

.filterItem h4{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-transform: uppercase;
	color: #00617e;
	padding-bottom: 30px;
}

.filterItem > .item{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: 500;
	font-size: 15px;
	padding-bottom: 17px;
}

.filterItem > .item:last-child{
	padding-bottom: 0px;
}

.filterItem > .item > input{
	margin-right: 15px;
}

.promoted-text > input[type="radio"]:cheked .red{
	color: red;
}

.promoted-text{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.promoted-text > input[type="text"]{
	background-color: white;
	height: 38px;
	border-radius: 3px;
	border: 1px #b3b3b3 solid;
	padding: 0 15px;
}

.promoted-text > span{
	margin-right: 15px;
}

.scrollWindow{
	background-color: white;
	width: 100%;
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll !important;
	border-radius: 3px;
	border: 1px #e0e0e0 solid;
	padding: 14px 19px;
}

.scrollWindow::-webkit-scrollbar {
    width: 5px;
}
 
.scrollWindow::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 10px;
}
 
.scrollWindow::-webkit-scrollbar-thumb {
	background-color: #00617e;
    border-radius: 10px;
}

.scrollWindow > .item{
	margin-bottom: 10px;
}

.scrollWindow > .item:last-child{
	margin-bottom: 0px;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.buttons > .promoted-button{
	margin-left: 16px;
}

.buttons > .promoted-button:last-child{
	margin-right: 16px;
}

.promoted-button{
	background: white;
	padding: 8px 23px;
	border: 1px #232323 solid;
	border-radius: 3px;
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #232323;
	transition-duration: 0.25s;
}

.promoted-button:hover{
	transition-duration: 0.25s;
	-webkit-filter: brightness(93%);
	filter: brightness(93%);
}

.button-primary{
	border-color: #00617e;
	color: #00617e;
}

.button-success{
	border-color: #ff6900;
	background-color: #ff6900;
	color: white;
}

.button-orange{
	border-color: #ff6900;
	color: #ff6900;
}

.button-straight{
	border-radius: 0px;
}

.button-straight:hover{
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.page{
	background-color: white;
}

.pageWrap{
	padding: 55px 0;
}

.goods{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: flex-start;
}

.goods > .item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 25%;
	border: 1px #b3b3b3 solid;
	padding: 39px 20px;
}

.goods > .item:hover{
	border-color: #ff6b05;
}

.good > .img-case{
	width: 105px;
	height: 105px;
	overflow: hidden;
	margin: 0 auto;
}

.good > h3,
.good > .price{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	padding: 45px 0;
}

.good > .price{
	padding: 0 0 45px 0;
	margin: 0 auto;
	color: #ff6b05;
	text-transform: none;
}

.good > button{
	transition-duration: 0.25s;
	padding: 15px 50px;
	margin: 0 auto;
}

.good:hover > button{
	transition-duration: 0.25s;
	background-color: #ff6900;
	color: white;
}

.paginator{
	display: flex;
	flex-direction: row;
	margin-top: 80px;
	margin-bottom: 25px;
}

.paginator > .item{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	width: 60px;
	height: 60px;
	background-color: white;
	color: black;
}

.paginator > .item:hover,
.paginator > .curentPage{
	background-color: #ff6900;
	color: white;
}

.paginator > .curentPage{
	margin-right: 10px;
}

.paginator > .item > a{
	color: inherit;
	text-decoration: none;
}

.paginator > .item > a:hover{
	text-decoration: none;
}

footer{
	background-image: url('../img/gray.png'), url('../img/blue.png');
	background-repeat: repeat-x, repeat;
	-webkit-background-size: 80px, 100%;
	background-size: 80px, 100%;
}

footer .logoWrap img{
	max-width: 150px;
}

.footerWrap{
	padding-bottom: 75px;
}

.customColumn1{
	width: 28.5%;
	padding-right: 21px;
}

.customColumn2{
	width: 71.6%;
	padding-left: 21px;
}

.footerWrap{
	display: flex;
	flex-direction: row;
	justify-content: 	
}

.widgetOne{
	margin-top: 90px;
}

.widgetOne form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.widgetOne form p{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	color: white;
	padding: 60px 0 50px 0;
}

.widgetOne form label{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: white;
}

.widgetOne form input[type="text"]{
	width: 100%;
	background: transparent;
	border: 0;
	border-bottom: 1px white solid;
	padding: 7px 0;
	margin-bottom: 30px;
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.floatLabel{
	position: relative;
}

.floatLabel label{
	position: absolute;
	top: 7px;
	left: 0%;
}

.floatLabel input:focus ~ .floatLabel label{
	top: 0px;
}

.widgetOne form input[type="text"]::-webkit-input-placeholder{
	color: white;
	opacity: 1;
}
.widgetOne form input[type="text"]::-moz-placeholder{
	color: white;
	opacity: 1;
}
.widgetOne form input[type="text"]:-moz-placeholder{
	color: white;
	opacity: 1;
}
.widgetOne form input[type="text"]:-ms-input-placeholder{
	color: white;
	opacity: 1;
}

.widgetOne form .promoted-checkbox{
	margin-bottom: 30px;
	color: white;
}

.widgetOne form .promoted-button{
	align-self: flex-end;
	margin-bottom: 30px;
	padding: 12px 40px;
}

.widgetMerger{
	margin-top: 38px;
	display: flex;
	flex-direction: column;
	padding-right: 0px !important;
}

.widgetTwo{
	background-color: white;
	padding: 45px 0px 45px 30px;
	width: 10000%;
}

.menuWrap{
	max-width: 738px;
}

.subMenuWrap > .item{
	margin-bottom: 17px;
}

.subMenuWrap > .item:last-child{
	margin-bottom: 0px;
}

.subMenuWrap > .item > a{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: black;
}

.subMenuWrap > .item > a:hover{
	color: #ff6900;
}

.customColMini{
	width: 33.3%;
	padding: 0 5px;
}

.catalogMenu .items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.catalogMenu p{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 6px;
}

.catalogMenu .item{
	padding-bottom: 20px;
}

.catalogMenu .item a{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-size: 13px;
	word-wrap: break-word;
	text-decoration: underline;
	margin-bottom: 25px;
}

.widgetThree{
	padding: 30px 0 0 45px;
}

.contactWrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contactWrap > .item > .phone,
.contactWrap > .item > .phone:hover{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
	letter-spacing: -0.05em;
}

.contactWrap > .item > p,
.contactWrap > .item > .confident,
.contactWrap > .item > p:hover,
.contactWrap > .item > .confident:hover{
	font-family: 'Gotham Pro', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding-top: 5px;
	color: white;
}

.contactWrap > .item > .confident{
	display: block;
	margin-top: 10px;
	text-decoration: underline;
}

footer .brandLogo{
	width: 80px;
}

/* Модальное окно */

.lightboxHeaven{
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 0%;
	right: 0%;
	width: auto;
	height: auto;
}

.addToCart{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350px;
	max-width: 100%;
	background-color: white;
	border-radius: 3px;
	margin: 10px;
	padding: 17px;
	font-family: 'Gotham Pro', Arial, sans-serif;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 25px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 25px 0px rgba(0, 0, 0, 0.75);
	
}

.topCart,
.downCart{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.topCart p{
	font-size: 14px;
	font-weight: bold;
}

.topCart button{
	display: flex;
	align-content: center;
	width: 23px;
	height: 23px;
	background-color: #ff6b05;
	border-radius: 3px;
	border: 0;
	color: white;
}

.topCart button i{
	line-height: 55%;
}

.addToCart > p{
	font-size: 14px;
	color: black;
}

.downCart p{
	margin-bottom: 0px;
	font-weight: bold;
	color: #ff6b05;
}

.downCart a{
	font-weight: bold;
	color: #00617e;
}